*{
    padding:0px;
    margin:0px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image:url("./images/background.jpg");
    background-size: cover;
}
.section{
    height:45vh;
    width:17vw;
    /* border:2px black solid; */
    margin-right:0.5%;
    border-radius:5px;
}
.main{
    height:30%;
    border-radius:5px 5px 0 0;
    color:white;
    background-image:url("./images/section-image.avif");
    background-size: cover;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.content{
    height:70%;
    background-color:white;
    border-radius:0 0 5px 5px;
}
.price{
    display: inline;
    font-size:1.8rem;
}
i{
    display: inline;
    padding-left:1%;
}
.mon{
    display: inline;
    font-size: 1.3rem;
}
.heading{
    font-size:2.3rem;
    padding-top:4%;
    padding-left:10%;
}
.con-text{
    padding-top:10%;
    font-size:1.3rem;
    margin-left:10%;
}
li{
    padding:1.5%;
    list-style-type: none;  
}
button{
    font-size: 1.2rem;
    margin-top:5%;
    margin-left:25%;
    background-color:white;
    padding:1.5%;
    border-radius:4px;
}
#dollar{
    display: inline;
    padding-left:13%;
}
button:hover{
    cursor:pointer;
    background-color: rgb(35, 68, 158);
    color:white;
}
.section:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:1030px){
    .section{
        height:48vh;
        width:22vw;
    }
    .con-text{
        font-size:1.3rem;
    }
    .heading{
        padding-left:6.5%;
        font-size:33px;
    }
    #dollar{
        padding-left:10%;
    }
}

@media only screen and (max-width:780px){
    .section{
        height:48vh;
        width:25vw;
    }
    .con-text{
        font-size:1.15rem;
    }
    .heading{
        padding-top:1%;
        padding-left:6%;
        font-size:30px;
    }
    #dollar{
        padding-left:3%;
    }
}

@media only screen and (max-width:450px){
    .container{
        display:block;
        height:160vh;
    }
    .section{
        height:48vh;
        width:60vw;
        margin:2rem 0 0 4rem;
    }
}

@media only screen and (max-width:380px){
    #dollar{
        padding-left:4%;
    }
}

@media only screen and (max-width:330px){
    .container{
        height:140vh;
    }
    .con-text{
        font-size:1.1rem;
    }
    .mon{
        font-size: 1.1rem;
    }
    .heading{
        padding-top:2.5%;
    }
    #dollar{
        padding-left:3%;
    }
    .section{
        height:42vh;
    }
}

